<div class="modal fade" id="createUrlModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-outline" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn-main">Criar URL</button>
      </div>
    </div>
  </div>
</div>