<div class="dropdown-menu" aria-labelledby="dropdownUrlActions-{{this._id}}">
  <button class="dropdown-item">Editar</button>
  <a class="dropdown-item" href="/url/{{this._id}}/delete">Excluir</a>
</div>