<tr>
  <td>
    <img src="/images/copy.svg" alt="copy-icon">
    {{this.shortUrl}}
  </td>
  <td>{{this.redirectUrl}}</td>
  <td>{{this.createdAt}}</td>
  <td>{{this.expirationDateMs}}</td>
  <td>Ativa</td>
  <td><img src="/images/more.svg" alt="more-actions-icon"></td>
</tr>
