<tr>
  <td>
    <img src="/images/copy.svg" alt="" srcset="">
    {{this.shortUrl}}
  </td>
  <td>{{this.redirectUrl}}</td>
  <td>{{this.createdAt}}</td>
  <td>{{this.expirationDateMs}}</td>
  <td>Ativa</td>
  <td>...</td>
</tr>