<link rel="stylesheet" href="styles/dashboard-styles.css">

{{>createUrlModal}}

<main>
  {{#if data}}

  {{else}}
    <div class="empty-dash-container">
      <img src="/images/url-icon-big.svg" alt="url icon image big size">

      <h2>Ainda não existe URLs criadas.</h2>

      <p>Para criar uma nova URL clique no botão abaixo.</p>

      <button class="btn-main" type="button" data-toggle="modal" data-target="#createUrlModal">
        {{>createUrlButtonContent}}
      </button>
    </div>
  {{/if}}
</main>